.HeaderPrincipal{
    position: fixed;
    width: 100%;
}

.HeaderFlex {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.HeaderNombre{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.HeaderNombre1{
    color: #ffff;
}
.HeaderNombre2{
    color: #4369D9;
}.HeaderNombre3{
    color: #ffff;
}

.HeaderMenu{
    max-width: 25%;
    min-width: 25%;
    color: #4369D9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}