.HeaderPrincipal{
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: 15vh;
}
.HeaderNombre{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.HeaderNombre1{
    color: #ffff;
}
.HeaderNombre2{
    color: #B3834D;
}.HeaderNombre3{
    color: #ffff;
}

.HeaderMenu{
    max-width: 25%;
    min-width: 25%;
    color: #B3834D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}