.Fondo{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Logo{
    width: 300px;
    display: flex;
    align-items: center;
    border-radius: 5rem;
}

.Nombre {
    margin: 0px 100px;
    text-align: center;
}