.PortafolioBotones {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.PortafolioImg {
    width: 200px;
    margin: 0px 20px;
}